*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none !important;
    list-style: none !important;
    outline: none !important;
    border: none !important;
    transition: all 0.3s ease-in-out !important;
}
#entete{
    background: #FEF7DF !important;

}






#section_1{
    display: flex;
    gap: 1rem;
    overflow: hidden !important;
    border-radius: 0.1rem !important; 
    height: 400px !important;
    
}


#section_1:hover{
    transition: all 0.5s ease !important;
    transform: scale(1.1) rotate(8deg) !important;

}



/* Style de base */
.info-box {
    overflow: hidden;
    height: 90px;                   /* Hauteur initiale */
    transition: height 0.4s ease;   /* Animation douce */
}

.info-box .details,
.info-box .btn-detail {
    opacity: 0; 
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;           /* Empêche l'interaction avant hover */
}

/* Effet au survol */
.info-box:hover {
    height: 170px !important;                  /* Hauteur augmentée */
}

.info-box:hover .details,
.info-box:hover .btn-detail {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* Optionnel : style du bouton */
.btn-detail {
    margin-top: 10px;
    padding: 6px 12px;
    border: none;
    width: 40%;
    
    color: green;
    border-radius: 10px;
    
}

.btn-detail:hover {
    background-color: #28a745;
  
    
}

.fauter:hover {
    background-color: #145214 !important;
   
}





.card-img-top{
    height: 30vh;
}

.card-img-top:hover{
    transform: scale(1.2);
}




 
   



@keyframes fadein {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0); }
}




 .card-custom {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
    background: white;
}

.card-custom img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.card-custom:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.category {
    color: #2f7a3b;
    font-weight: 600;
}

.link-green {
    color: #2f7a3b;
    font-weight: bold;
    text-decoration: none;
}


